section.statistics-section {
  background: linear-gradient(to bottom, #e8fffc 0%, #fff4f4 100%);
  align-items: center;
  display: flex;
}

.statistics-img {
  width: 100px;
  height: 100px;
  float: left;
  padding: 15px;
  background: #fff;
  border-radius: 8px 40px 8px 40px;
  box-shadow: 0 3.4px 2.7px -30px rgba(0, 0, 0, 0.059),
    0 8.2px 8.9px -30px rgba(0, 0, 0, 0.071),
    0 25px 40px -30px rgba(0, 0, 0, 0.2);
}
.statnumb {
  margin: 0 0 0 20px;
  text-align: left;
  float: left;
}
.statistics span {
  font-size: 45px;
  font-family: poppins, sans-serif;
  color: #050748;
  font-weight: 700;
  display: inline-block;
}
.statistics p {
  font-size: 20px;
  margin: 10px 0 0;
  font-weight: 500;
}
.statis-small .statistics span {
  font-size: 35px;
  color: #050748;
}
.statis-small .statistics-img {
  width: 75px;
  height: 75px;
}
.statis-small .statistics p {
  font-size: 18px;
  line-height: 24px;
}
